# Data Science Tools and Ecosystem

Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPy
3. NumPy
4. Pandas
5. Matplotlib

Table of Data Science Tools

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

---------------------------------------------------------------------------------------------------------------------------

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [8]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

**Objectives:**

* Python
* R
* Java
* Julia
* Scala

# Author
## Sivamurugan Peramisivan